body {
    background-color: #555;
}

#calculator,
#buttons,
#button-stack,
#top-buttons,
.display-row,
.num-row,
#op-buttons,
.btn {
    display: flex;
}

#calculator,
#button-stack,
#op-buttons {
    flex-direction: column;
}

#calculator {
    background-color: #113;
    width: fit-content;
    gap: 12px;
    border-radius: 24px;
    padding: 24px;
}

#display,
.btn {
    margin: 2px;
    border-radius: 8px;
}

#display {
    background-color: #bbb;
    width: 348px;
    font-size: 56px;
    text-align: end;
}

.display-row {
    height: 64px;
    justify-content: space-between;
}

#num-buttons {
    align-self: flex-end;
}

.btn {
    height: 64px;
    width: 84px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
}

.top-btn {
    background-color: #a3a;
}

.num-btn {
    background-color: #3bb;
}

.op-btn {
    background-color: #4a2;
}

.sel-op-btn {
    background-color: #9e3;
}